#header {
    background-color: #3770ED;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    border-bottom: 1px solid #3060c7;
    color: white;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
}
body {
    margin: 0;
    background-color: #F4F6FB;
    color: #132148;
    font-family: Open Sans,Arial,sans-serif;
}
#download {
    border-radius: 30px;
    padding: 10%;
    width: 200px;
    font-size: 1.2rem;
    background-color: #e56e06e1;
    border: none;
    color: white;
}
#logo-section {
    margin-right: 10%;
}
#features {
    margin-right: 2%;
}
#money {
    margin-right: 2%;
}
#score {
    margin-right: 2%;
}
#faqw {
    margin-right: 2%;
}
#fireside {
    margin-right: 2%;
}
#first-section {
    background-color: #3770ED;
    /* height: 200px; */
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2%;
    width: 100%;
    padding-bottom: 3%;
    margin-top: 7%;
}
#home-pic {
    height: 55vh;
    margin-left: 0%;
}
#track {
    font-size: 3.2rem;
    color: white;
    margin-top: 0px;
    margin-bottom: 15px;
}
#boh {
    font-size: 1.3rem;
    color: white;
    max-width: 80%;
    /* background-color: green; */
    margin-top: 0px;
    margin-bottom: 0px;
}
#join {
    font-size: 2rem;
    color: white;
    max-width: 60%;
    margin-top: 11px;
    color: #00FFFF;
    /* background-color: green; */
}
#left-section {
    /* background-color: red; */
    padding-left: 13%;
}
#img-left {
    margin-right: 5%;
}
#coming {
    font-size: 1.3rem;
    color: white;
    /* background-color: green; */
}
#second-section-head {
    /* width: 100%; */
    font-size: 3.5rem;
    padding-left: 13%;
    padding-top: 6%;
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif
}
#sub-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
#sub1 {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    width: 15%;
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif
    /* background-color: green; */
}
#sub1 img{
    width: 100%;
    margin-top: 60%;
}
#sub2 {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    width: 15%;
}
#sub2 img{
    width: 100%;
    margin-top: 60%;
}
#sub3 {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    width: 15%;
}
#sub3 img{
    width: 100%;
    margin-top: 60%;
}
#sub4 {
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    width: 15%;
}
#sub4 img{
    width: 100%;
    margin-top: 60%;
}
#inner-right {
    margin-left: 5%;
}
#phone-view {
    width: 90%;
    margin: 0 auto;
}
#third-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 5% auto;
    /* margin-top: ; */
    margin-top: 10%;
}
#right-text {
    /* background-color: green; */
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
#left-img {
    /* background-color: red; */
    justify-content: center;
    width: 90%;
}
#left-imga {
    /* background-color: red; */
    justify-content: center;
    width: 80%;
}
#right-text span {
    /* background-color: green; */
    font-size: 2.5rem;
}
#right-text p {
    /* background-color: green; */
    font-size: 1.2rem;
}
#second-section-head2 {
    /* width: 100%; */
    font-size: 3.5rem;
    padding-left: 60%;
    padding-top: 6%;
}
#download2 {
    border-radius: 30px;
    padding: 2%;
    /* width: 200px; */
    font-size: 1.2rem;
    background-color: #e56e06e1;
    border: none;
    color: white;
}
#first-section2 {
    background-color: #FFF9F2;
    /* height: 200px; */
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    padding-top: 2%;
}
#track2 {
    font-size: 3.2rem;
    color: #E68917;
    margin-top: 0px;
    margin-bottom: 15px;
}
#boh2 {
    font-size: 1.3rem;
    color: #132148;
    max-width: 90%;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}
#download3 {
    border-radius: 30px;
    padding: 1%;
    font-size: 1.2rem;
    background-color: #e56e06e1;
    border: none;
    color: white;
    margin-top: 2%;
    margin-left: 30%;   

    
}
#dn {
    margin: 0 auto;
align-items: center;
/* background-color: green; */
}
#home-pic2 {
    height:90vh;
    margin-top: -80px;
} a {
    text-decoration: none;
    color:white;
}
a:hover {
    color:#7094f8;
    transition-duration: 200ms;
}
#right-text3 {
    /* background-color: green; */
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    width: 50%;

}
#nohi {
    font-size: 2rem;
    font-weight: bold;
}
#downl {
    border-radius: 30px;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 1.2rem;
    background-color: #e56e06e1;
    border: none;
    color: white;
    margin-left: 36%;   

    
}
#faq {
    background-color: white;
    width: 70%;
    margin: 0  auto;
    margin-top: 3%;
    border-radius: 10px;
    padding: 1%;
    height: 51vh
}
#faq div {
    font-size: 1.3rem;
    height: 40%;
    /* background-color: white; */
}
#faqb:hover {
    font-size: 1.3rem;
    height: 40%;
    background-color: #F4F6FB;
    transition-duration: 500ms;
}
#ok {
    width: 100%;
    background-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    /* margin-top: 1%; */
}
#third-sectiona {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    margin: 5% auto;
    /* margin-top: ; */
    margin-top: 10%;
}
#sub-sectionsa {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    margin: 0 auto;
    margin-top: 5%;
    width: 80%;
}
#sub1a {
    /* display: flex;
    flex-direction: row; */
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
    font-family: 'Nunito Sans',Helvetica,Arial,Lucida,sans-serif;
    /* background-color: #3770ED; */
}
#sub2a {
    /* display: flex;
    flex-direction: row; */
    margin-left: 3%;
    margin-right: 3%;
    width: 40%;
}
#bl {
    height: 10%;
    margin-top: 0;
}
/* #inner-right img{

} */
#footer {
    width: 100%;
    background-color: #3770ED;
    color: white;
    /* height: 40%; */
    /* padding: 20% auto; */
}
#one {
    margin-left: 20%;
    margin-top: 50px;
 
    /* height: 50px; */
    justify-content: center;
    padding: 20px
}
#two {
    margin-left: 20%;
    padding: 20px
}
#one a {
    /* background-color: green; */
    margin-left: 1%;
}
#social {
    height: 50px;
    /* background-color: green; */
}
#dif {
    color: #3770ED;
}